/*GERAL*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #363636;
	background-color: #FFFFE0;
}

h1, h2, h3 {
	margin: 0;
	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.botao {
	color:  #ffffff ;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #381613;
	font-size: .9em;
	border-radius: 4px;	
	font-weight: bold;
}

/*NAVEGAÇAO*/

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4C230A;
}

nav > a {
	text-decoration: none;
	color: #f1f1f1;
	font-weight: 700;
	font-size: 30px;
	font-family: "Dancing Script", serif, bold;

}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: inline;
	align-items: center;
	width: 100%;
}

nav ul li {
	text-align: center;
	width: 100%;
}

nav ul li a {
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #f1f1f1;
}

/*CABEÇALHO*/

header {
	background-image: url(img/banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #6d351a;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
	font-size: 19px;
}

header p {
	margin-bottom: 2em;
}

header div {
	background-color: #f0f0f0;
	padding: 30px;
	border-radius: 10px;
	opacity: 0.8;
}

/* SOBRE*/

#sobre{
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	text-align: center;
}

#sobre p{
	margin-bottom: 2.5em;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.5em;
}

/* EXEMPLO */

#exemplo{
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	text-align: center;
	background-color:  #F4D06F;
}

#exemplo p{
	margin-bottom: 2.5em;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.5em;
}

/* DICA */

#dica{
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	text-align: center;
}

#dica p{
	margin-bottom: 2.5em;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.5em;
}

/* DICA 1 */

#dica-2{
	display: flex;
	flex-direction: column;
	padding: 30px;
	align-items: center;
	text-align: center;
	background-color: #F4D06F;
}

#dica-2 p{
	margin-bottom: 2.5em;
	max-width: 900px;
	font-size: 18px;
	line-height: 1.5em;
}